/* ---------------------------------------- */
/*      Barre de Navigation Couleurs        */
/* ---------------------------------------- */

/*
  LIGNES A METTRE DANS LE HEADER

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/289fbec248.js" crossorigin="anonymous"></script>
*/

/* Vous pouvez définir ici la couleur de votre nav-bar la troisième couleur est celle du hover*/
:root {
  --first-color-nav: #BBA791;
  --second-color-nav: #2F71A4;
  --hover-color-nav: #669a6e;
  --text-color-nav: #e6e6e6;
}
html{
  background-color: black;
}
canvas{
  cursor: pointer;
  filter: blur(10px);
}

.nav-btn {
  color: var(--first-color-nav);
}

.sidebar {
  background: var(--second-color-nav);
}

.sidebar p {
  color: var(--text-color-nav);
  background: var(--hover-color-nav);
}

nav ul {
  background: var(--second-color-nav);
}

nav ul li a {
  color: var(--text-color-nav);
}

nav ul li a:hover {
  color: var(--first-color-nav);
  background: var(--hover-color-nav);
  border-bottom-color: var(--first-color-nav);
}
nav ul ul li a {
  color: var(--text-color-nav);
}


/* pop up */

.pop-up{
  padding-top: 20px;
  background-image: url(../Images/Japon/Japon1.jpg);
  background-size: 120%;
  height: 40%;
  background-color: rgba(255, 255, 255, 0.531);
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 30%;
  z-index: 10;
  left: 35%;
  top: 5%;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-self: center;
}
.pop-up p{
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 20px;
}
.btn-container{
  position: relative;
  top: 60%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.pop-up img{
  opacity: 0;
  width: 100%;
  border-radius: 20px;
}
.button {
  border-radius: 20px;
  margin-top: 10px;
  text-align: center;
  width: 100px;
  color: white;
  background:transparent;
  padding:12px 24px;
  border:solid 2px white;
  display:inline-block;
  position: relative;
  overflow: hidden;
  transition: all .4s;
}
.button:before {
  content:'';
  position:absolute;
  z-index: -1;
  background:white;
  left:-20px;
  top:-20px;
  width:0%;
  height:calc(100% + 40px);
  transition: all .4s;
  transform: skew(24deg);
}

.button:hover:before {
  width:calc(100% + 40px);
}
.button:hover {
  cursor:pointer;
  color:black;
}
/* Scroll Down cursor*/
#arrow{
  pointer-events: none;
  overflow: hidden;
  display: flex;
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  justify-content: center;
}
.chevron {
  margin-top: 15%;
  position: absolute;
  width: 20%;
  height: 8%;
  animation: move 0.8s alternate infinite;
}
.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #ffffff;
} 
.chevron:before {
  left: 1px;
  transform: skew(0deg, 30deg);
}
.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(80px);
  }
}
/* Scroll Down cursor*/