*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}
.nav-btn{
  text-decoration: none;
  color: cyan;
}
.sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  right: 0;
  background: #1b1b1b;
  transform: translateX(400%);
  transition: .6s ;
}
.sidebar.show{
  transform: translateX(0%);
}
.sidebar p{
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}
nav ul{
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-right: 3px solid transparent;
}
nav ul li a:hover{
  color: cyan;
  background: #1e1e1e;
  border-right-color: cyan;
}
nav ul ul{
  position: static;
  display: none;
}

nav ul .country-show.show{
  display: block;
}
nav ul .name-show.show{
  display: block;
}

nav ul ul li{
  line-height: 42px;
  border-bottom: none;
}
nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}
nav ul li a span{
  position: absolute;
  margin-top: 20px;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform .4s;
}
nav ul li a:hover span{
  transform: translateY(-50%) rotate(-180deg);

}
.nav-btn{
  position: fixed;
  bottom: 50%;
  right: 0;
  width: 50px;
  transition: .6s;
}
.nav-btn.show{
  z-index: 100;
  transform: translateX(-200px) rotate(-90deg);
}